Practica2/blackJackns.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <schema targetNamespace="http://tempuri.org/blackJackns.xsd"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:blackJackns="http://tempuri.org/blackJackns.xsd"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <simpleType name="tMessage"><!-- blackJackns__tMessage -->
      <restriction base="blackJackns:tMessage">
      </restriction>
    </simpleType>
    <simpleType name="tDeck"><!-- blackJackns__tDeck -->
      <restriction base="blackJackns:tDeck">
      </restriction>
    </simpleType>
    <simpleType name="tBlock"><!-- blackJackns__tBlock -->
      <restriction base="blackJackns:tBlock">
      </restriction>
    </simpleType>
    <complexType name="tMessage"><!-- tMessage -->
          <sequence>
            <element name="msg" type="xsd:byte" minOccurs="0" maxOccurs="unbounded"/><!-- tMessage::__size -->
          </sequence>
    </complexType>
    <complexType name="tDeck"><!-- tDeck -->
          <sequence>
            <element name="cards" type="xsd:unsignedInt" minOccurs="0" maxOccurs="unbounded"/><!-- tDeck::__size -->
          </sequence>
    </complexType>
    <complexType name="tBlock"><!-- tBlock -->
          <sequence>
            <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- tBlock::code -->
            <element name="msgStruct" type="blackJackns:tMessage" minOccurs="1" maxOccurs="1"/><!-- tBlock::msgStruct -->
            <element name="deck" type="blackJackns:tDeck" minOccurs="1" maxOccurs="1"/><!-- tBlock::deck -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="register">
      <complexType>
          <sequence>
            <element name="playerName" type="blackJackns:tMessage" minOccurs="1" maxOccurs="1"/><!-- blackJackns__register::playerName -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="registerResponse">
      <complexType>
          <sequence>
            <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1"/><!-- blackJackns__register::result -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="getStatus">
      <complexType>
          <sequence>
            <element name="playerName" type="blackJackns:tMessage" minOccurs="1" maxOccurs="1"/><!-- blackJackns__getStatus::playerName -->
            <element name="gameId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- blackJackns__getStatus::gameId -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="getStatusResponse">
      <complexType>
          <sequence>
            <element name="result" type="blackJackns:tBlock" minOccurs="0" maxOccurs="1"/><!-- blackJackns__getStatus::result -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="playerMove">
      <complexType>
          <sequence>
            <element name="playerName" type="blackJackns:tMessage" minOccurs="1" maxOccurs="1"/><!-- blackJackns__playerMove::playerName -->
            <element name="gameId" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- blackJackns__playerMove::gameId -->
            <element name="move" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- blackJackns__playerMove::move -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="playerMoveResponse">
      <complexType>
          <sequence>
            <element name="result" type="blackJackns:tBlock" minOccurs="0" maxOccurs="1"/><!-- blackJackns__playerMove::result -->
          </sequence>
      </complexType>
    </element>
  </schema>

