Practica2/blackJackns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
  targetNamespace="http://tempuri.org/blackJackns.xsd/Service.wsdl"
  xmlns:tns="http://tempuri.org/blackJackns.xsd/Service.wsdl"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:blackJackns="http://tempuri.org/blackJackns.xsd"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="http://tempuri.org/blackJackns.xsd"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:blackJackns="http://tempuri.org/blackJackns.xsd"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <simpleType name="tMessage"><!-- blackJackns__tMessage -->
      <restriction base="blackJackns:tMessage">
      </restriction>
    </simpleType>
    <simpleType name="tDeck"><!-- blackJackns__tDeck -->
      <restriction base="blackJackns:tDeck">
      </restriction>
    </simpleType>
    <simpleType name="tBlock"><!-- blackJackns__tBlock -->
      <restriction base="blackJackns:tBlock">
      </restriction>
    </simpleType>
    <complexType name="tMessage"><!-- tMessage -->
          <sequence>
            <element name="msg" type="xsd:byte" minOccurs="0" maxOccurs="unbounded"/><!-- tMessage::__size -->
          </sequence>
    </complexType>
    <complexType name="tDeck"><!-- tDeck -->
          <sequence>
            <element name="cards" type="xsd:unsignedInt" minOccurs="0" maxOccurs="unbounded"/><!-- tDeck::__size -->
          </sequence>
    </complexType>
    <complexType name="tBlock"><!-- tBlock -->
          <sequence>
            <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- tBlock::code -->
            <element name="msgStruct" type="blackJackns:tMessage" minOccurs="1" maxOccurs="1"/><!-- tBlock::msgStruct -->
            <element name="deck" type="blackJackns:tDeck" minOccurs="1" maxOccurs="1"/><!-- tBlock::deck -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="register">
      <complexType>
          <sequence>
            <element name="playerName" type="blackJackns:tMessage" minOccurs="1" maxOccurs="1"/><!-- blackJackns__register::playerName -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="registerResponse">
      <complexType>
          <sequence>
            <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1"/><!-- blackJackns__register::result -->
          </sequence>
      </complexType>
    </element>
  </schema>

</types>

<message name="registerRequest">
  <part name="Body" element="blackJackns:register"/><!-- blackJackns__register::blackJackns__register -->
</message>

<message name="registerResponse">
  <part name="Body" element="blackJackns:registerResponse"/>
</message>

<portType name="ServicePortType">
  <operation name="register">
    <documentation>Service definition of function blackJackns__register</documentation>
    <input message="tns:registerRequest"/>
    <output message="tns:registerResponse"/>
  </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
  <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="register">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
</binding>

<service name="Service">
  <documentation>gSOAP 2.8.132 generated service definition</documentation>
  <port name="Service" binding="tns:Service">
    <SOAP:address location="http://localhost:80"/>
  </port>
</service>

</definitions>
